{
  "default_mode": "auto",
  "templates": {
    "code": "${role_block}<task>\n$goal\n</task>\n${audience_xml_block}${context_xml_block}${instructions_block}",
    "general": "${role_block}<task>\n$goal\n</task>\n${audience_xml_block}${context_xml_block}${instructions_block}"
  }
}
